* { font-family: "Open Sans"; }

body { font-size: 92.5%; }

hr { 
	margin-top: 1%;
	width: 60%;
}

#home {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	background: url("../images/background.jpg") center center no-repeat fixed;
    background-size: cover;
}

#home img {
	padding-top: 10%;
	width: 180px;
	height: 180px;
}

#home h1 {
	padding-top: 2%;
	color: #fff;
	text-transform: uppercase;

}

#home h2 {
	color: #fff;
	font-weight: 300;
	padding-top: 2%;
}

#team, #projects, #contact {
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
	background-color: #fff;
}

#team h2, #projects h2, #contact h2 {
	text-transform: uppercase;
	padding-top: 8%;
	font-weight: 300;
}

#pharse {
	height: 100px;
	width: 100%;
	background-color: #000;
}

#pharse h3 {
	color: #fff;
	font-weight: 300;
	padding-top: 3%;
	text-transform: uppercase;
}

.info-team a {
	text-decoration: none;
	color: #333;
}

.info-team a:hover {
	transition: 0.4s;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.info-team img {
	border: 2px #006df0 solid;
	border-radius: 50%;
	margin-top: 5%;
	height: 150px;
	width: 150px;
}

.info-team {
	display: inline-block;
	padding: 20px;
}

.info-team h3 { 
	color: #000;
	font-weight: 300;
}

.info-team h4 { 
	color: #333;
	font-weight: 300;
	font-style: italic;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal > div {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff;
}

.modal img {
	border: 2px #006df0 solid;
	border-radius: 50%;
	margin-top: 5%;
	height: 200px;
	width: 200px;
}

.modal p {
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
	width: 80%;
}

.close {
    color: #333333;
    position: absolute;
    top: 10px;
    right: 50px;
    width: 50px;
    font-size: 35px;
    font-weight: 300;
    text-decoration: none;
}


.arrow {
	display: inline-block;
 	width: 4em;
  	height: 4em;
}

.arrow:after {
	content: '';
	display: inline-block;
 	margin-top: 80px;
  	width: 1.8em;
  	height: 1.8em;
 	border-top: 0.3em solid #006df0;
  	border-right: 0.3em solid #006df0;
   -moz-transform: rotate(135deg);
   -webkit-transform: rotate(135deg);
   transform: rotate(135deg);
}

@media screen and (max-width: 800px) {
	body { font-size: 85%; }

	#home img {
		padding-top: 25%;
		width: 110px;
		height: 110px;
	}
}

@media screen and (max-width: 400px) {
	body { font-size: 75%; }	

	#home img {
		padding-top: 30%;
		width: 95px;
		height: 95px;
	}
}